.header {
	height : 200px;
	margin-top : 40px;
}

div { 
	display: block;
}
/* u-max-full-width from skeleton */
img { 
	max-width: 100%;
  	box-sizing: border-box;
}

h5 {

	margin-top: 70px;
}

body {
	margin-bottom: 100px;
}
